<br />
<br />
<br />
<br />
<br />
<br />

<form (ngSubmit)="addPost(postForm)" #postForm="ngForm">
  <ng-lottie *ngIf="showAnimation" [options]="options"></ng-lottie>
  <div class="d-flex down">
    <div
      contenteditable="true"
      class="box container w-75 mx-5"
      id="inputString"
    >
      <label>Title:</label>
      <input
        type="text"
        class="form-control title mb-2"
        placeholder="Title"
        name="title"
        [(ngModel)]="title"
        required
      />
      <label>Content:</label>
      <textarea
        class="form-input content"
        placeholder="Content"
        name="content"
        maxlength="1000"
        [(ngModel)]="content"
        required
      ></textarea>
    </div>
  </div>

  <div class="add d-flex">
    <button type="submit" class="btn btn-primary">Post</button>
  </div>
</form>

<!-- Toast Message -->
<!-- <div
  aria-live="polite"
  aria-atomic="true"
  style="position: relative; min-height: 200px"
>
  <div
    *ngIf="showSuccessToast"
    class="toast"
    style="position: absolute; top: 0; right: 0"
  >
    <div class="toast-header">
      <button
        type="button"
        class="ml-2 mb-1 close"
        (click)="hideToast()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">Blog posted successfully!!!</div>
  </div>
</div> -->
