<br />
<br />

<div class="container mt-5 ctr justify-content-center">
  <div class="row">
    <div class="col-md-8" *ngIf="post">
      <h2 class="post-title text-danger">{{ post.title }}</h2>
      <p class="post-content">{{ post.content }}</p>
    </div>
  </div>
</div>

<div class="container mb-5 ctr">
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h2 class="card-title">Comments</h2>
      </div>
      <div class="card-body">
        <div *ngFor="let comment of Comments" class="mb-3">
          <div class="card border-info" *ngIf="comment.id">
            <div class="card-body">
              <p class="card-text fw-bold">{{ comment.comment }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form (ngSubmit)="addComment(form)" #form="ngForm" class="move">
  <div class="container-fluid">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
          <h5 class="m">Leave a Comment</h5>
          <div class="mb-3">
            <div class="col-xs-12">
              <div class="form-group">
                <textarea
                  class="form-input fw-bold"
                  id="userComment"
                  rows="5"
                  required
                  [(ngModel)]="comment"
                  name="userComment"
                  #userComment="ngModel"
                  placeholder="Add Comment..."
                ></textarea>
              </div>
            </div>
            <!-- <div
              *ngIf="userComment.invalid && userComment.touched"
              class="text-danger"
            >
              Comment is required.
            </div> -->
          </div>
          <button type="submit" class="btn-sub">
            <i class="fa-solid fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
