.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem; 
}

.ctr{
  margin-left: 20%;
}
